/* variables, font and css reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --dark-bg: #1f2937;
  --hero-main-txt: #f9faf8;
  --hero-second-txt: #e5e7eb;
  --header-logo-txt: #f9faf8;
  --btn: #3882f6;
  --info-header: #1f2937;
  --quote-sct-bg: #e5e7eb;
  --quote-txt: #1f2937;
}
/* hero section */
#hero-wrapper {
  background-color: var(--dark-bg);
  padding: 20px 12% 120px 12%;
}
#hero-wrapper a {
  text-decoration: none;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-logo {
  font-size: 24px;
  color: var(--header-logo-txt);
  font-weight: 800;
}
#right-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 22px;
}
#right-header ul a {
  font-size: 18px;
  color: var(--hero-second-txt);
}

/* hero main */
#hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  gap: 5%;
}
#hero-main h1 {
  font-size: 48px;
  color: var(--hero-main-txt);
}
#left-hero {
  flex-basis: 45%;
}
#left-hero p {
  color: var(--hero-second-txt);
  margin: 10px 0;
}
#left-hero button {
  background-color: var(--btn);
  border: none;
  padding: 6px 30px;
  border-radius: 5px;
  color: var(--hero-main-txt);
  font-weight: 700;
}
#right-hero {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-second-txt);
  background-color: #686868;
  height: 200px;
}

/* information */

#information {
  text-align: center;
}
#information h2 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 40px;
}
#info-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 40px 0 100px 0;
}
.info-img-container {
  width: 160px;
}
.info-img-container p {
  margin-top: 10px;
}
.img {
  width: 160px;
  height: 160px;
  border: 2px solid var(--btn);
  border-radius: 16px;
}

/* quote */
#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--quote-sct-bg);
  padding: 5% 25%;
  font-size: 36px;
}
#quote-txt {
  color: var(--quote-txt);
  font-style: italic;
}
#signature {
  align-self: flex-end;
  margin-right: 30px;
  margin-top: 15px;
  font-weight: 700;
}
